
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<div style="background-color:darkgray">
    Deneme
</div>
<br />
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Görsel</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ali</td>
        <td>Bulut</td>
        <td>test</td>
        <td>
            <a href="#" class="btn btn-default"
               style="background-color:orangered">Satışlar</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Fırat</td>
        <td>Can</td>
        <td>test</td>
        <td>
            <a href="#" class="btn btn-default"
               style="background-color:orangered">Satışlar</a>
        </td>
    </tr>
</table>
